color = {
	red: #f44336,
	pink: #E91E63,
	orange: #FF5722,
	carrot: #FF9800,
	sunflower: #FFC107,
	yellow: #FFEB3B,
	lime: #CDDC39,
	lightgreen: #8BC34A,
	green: #4CAF50,
	teal: #009688,
	cyan: #00BCD4,
	lightblue: #03A9F4,
	blue: #2196F3,
	indigo: #3F51B5,
	violet: #673AB7,
	purple: #9C27B0,
	brown: #795548,
	black: #2f2f2f,
	grey: #9E9E9E,
	bluegrey: #607D8B,
	white: #fff
}